.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #f8f5ee;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 63px;
  grid-row-gap: 63px;
  font-family: sans-serif;
  max-width: 1320px;
}

.button {
  background-color: #f1ebdd;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
}

.button:hover {
  background-color: rgba(209, 179, 108, 0.624);
}

.button:disabled {
  background-color: #f8f8f8;
}

.filterPanel {
  background-color: white;
  z-index: 9999;
  position: absolute;
  top: 140px;
  max-width: 1270px;
  margin: 50px;
  padding: 10px;
}

.cagetoryFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
}
.colorFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1215px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 43px;
    grid-row-gap: 43px;
  }
  .filterPanel {
    max-width: 800px;
  }
}

@media (max-width: 760px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filterPanel {
    max-width: 340px;
    padding: 0px;
  }
  .priceFilter {
    flex-direction: column;
    margin-top: 8px;
  }
}

.flex {
  display: flex;
}

.filterElement {
  margin: 5px;
  text-transform: uppercase;
  padding: 2px;
  align-items: center;
  justify-items: auto;
  vertical-align: middle;
}
.filterElement:hover {
  cursor: pointer;
  text-decoration: underline;
}

.paginationButtons {
  display: flex;
  margin: 5px;
}

.closeFilter {
  margin-left: auto;
  margin-right: 7px;
  cursor: pointer;
}

.price {
  margin-left: auto;
}

.priceFilter {
  display: flex;
  justify-content: center;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterButton {
  margin-left: auto;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1ebdd;
  text-transform: uppercase;
}
